<!DOCTYPE html>
<html>
<head>
	<title>Cuerpo Docente</title>
	<meta charset="utf-8">
</head>
<body>
	<h1>Integrantes del cuerpo docente</h1>
	<ul>
		<li><h2>Javiera Ovalle T.</h2></li>
		<li><h2>Jorge Pinto<h2></li>
		<li><h2>José Canto <h2></li>
		<li><h2>Macarena V. Osorio A.</h2></li>
		<li><h2>Victor Hernandez M.<h2></li>
	</ul>

	<div>
		
	</div>
	<a href="{% url 'index' %}">Hola, soy un enlace al Index</a>
	<br>
	<a href="{% url 'gunsnroses' %}">Hola, soy un enlace a Discografia de Guns N' Roses</a>

	

</body>
</html>