<!DOCTYPE html>
<html>
<head>
	<title>Albumes de Guns N' Roses</title>
	<meta charset="utf-8">
</head>
<body>
	<h1>Discografia de Guns N' Roeses</h1>
	<ul>
		<li><h2>Apettite for Destruction (1987) </h2></li>
		<li><h2>G N' R Lies (1988)<h2></li>
		<li><h2>Use Your Illusion I (1991) <h2></li>
		<li><h2>Use Your Illusion II (1991)</h2></li>
		<li><h2>The Spaghetti Incident? (1993)<h2></li>
		<li><h2>Chinese Democracy (2008)<h2></li>
	</ul>

	<div>
		
	</div>
	<a href="{% url 'index' %}">Hola, soy un enlace al Index</a>
	<br>
	<a href="{% url 'cuerpodocente' %}">Hola, soy un enlace a Cuerpo Docente</a>

	

</body>
</html>